body {
    background-image: url('../img/Backgreen.png'); /* Substitua pelo caminho da sua imagem */
    background-size: 30%; /* Faz a imagem cobrir toda a área */
    background-repeat: repeat; /* Evita que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
    margin: 0; /* Remove a margem padrão do body */
    font-family: Arial, sans-serif; /* Fonte padrão para o texto */

    
}

